@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

header
{
    background: #000;
    color: #fff;
    position: fixed; /* Le header sera fixé en haut de la page */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Assure que le header est au-dessus de tout le contenu */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo-container img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

h2 {
    margin: 0;
}
.disconnect-button {
    background-color: #1fe0ff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 2vw;
}

.disconnect-button:hover {
    background-color: #0eb2d4;
}


main
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}
main::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000000, #9a31c4, #732a2a);
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(100%);
    }
}
main span
{
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #181818;
    z-index: 2;
    transition: 1.5s;
}
main span:hover
{
    background: rgba(255, 0, 128, 0.25);
    transition: 0s;
}





main .article-container{
    position: absolute;
    z-index: 1000;
    width: 100vw;
    overflow-y: auto;
    max-height: calc(80vh - 20px);
}

article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alignement de l'image en haut */
    width: 80vw;
    margin: 20px auto; /* Centre l'article sur la page */
    padding: 20px;
    border-radius: 20px; /* Bords arrondis */
    background-color: #fff; /* Fond blanc */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    z-index: 1000;
}

.article-text-a-container {
    max-width: calc(80% - 20px); /* Taille maximale pour le texte */
    word-wrap: break-word; /* Permettre le retour à la ligne lorsque le texte dépasse */
}
.article-text-container{
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limiter le texte à 3 lignes */
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: calc(80% - 20px); /* Taille maximale pour le texte */
    word-wrap: break-word;
}


.article-picture-container {
    width: 20%; /* Taille de l'image */
}

article img {
    max-width: 100%; /* Image ne dépasse pas de son conteneur */
    border-radius: 10px; /* Bords arrondis pour l'image */
    margin-bottom: 10px; /* Espacement en bas de l'image */
}

article h1 {
    margin: 0 0 10px; /* Espacement en bas du titre */
}

.article-p{
    margin-bottom: 2vw;
}

.article-picture-container {
    width: 20%; /* Taille de l'image */
}

article a {
    display: inline-block;
    background-color: #1fe0ff;
    color: #000;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

article a:hover {
    background-color: #0eb2d4;
}


footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
